{{ define "footer" }}

    <footer class="page-footer red darken-1" style="position:fixed;bottom:0;left:0;width:100%;">
        <div class="footer-copyright">
            <div class="container">
                Made by Menzolini Luca, Tabacchino Luca, Vintari Alessio
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script src="../static/js/init.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
        })
    </script>

    </html>
{{ end }}